.blogReportBg {
	background: #e4f1f9;
	/* background: url("../../../Images/blogs-background.jpg");
	background-position: center;
	background-size: cover; */
}

.denied {
	background: url("../../../Images/accessDenied.jpg");
	background-position: center;
	background-size: cover;
}
