.loginContainer {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.adminLoginBg {
	background: rgba(255, 255, 255);
	/* background: url("../../../Images/admin-login.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
}
.doctorLoginBg {
	background: rgba(255, 255, 255);
	/* background: url("../../../Images/doctor-login.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
}
.patientLoginBg {
	background: rgba(255, 255, 255);
	/* background: url("../../../Images/patient-login.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
}
