.loginContainer {
	display: flex;
	flex-direction: column;
	margin: 20px;
}
.adminLoginBg {
	background: url("../../../Images/AdobeStock_495359867-scaled\ copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.doctorLoginBg {
	background: url("../../../Images/AdobeStock_495359867-scaled\ copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.patientLoginBg {
	background: url("../../../Images/AdobeStock_495359867-scaled\ copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
